.header {
  position: relative;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: gray;
  box-shadow: 0 4px 12px #ccc;
  z-index: 100;
  // padding: 8px;

  &__logo {
    float: left;
    width: 48px;
    height: 48px;
    background-color: yellow;
    margin: 16px;
  }
}

.btn-toggle-nav {
  position: relative;
  float: right;
  cursor: pointer;
  width: 48px;
  height: 48px;
  margin: 16px;

  &__bar {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;

    &--top {
      top: 0;
      left: 0;
    }

    &--center {
      top: 50%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }

    &--bottom {
      top: 100%;
      right: 0;
    }
  }
}

.nav {
  $this: &;

  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 50;

  &__link {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  &__link-label {
    text-align: left;
  }

  &--small-width {
    width: 100%;
    box-shadow: -4px 0 24px #ccc;
    left: 100%;
    font-size: 3.5em;

    & #{$this}__link {
      width: 50%;
      padding: 24px;
    }
  }

  &--large-width {
    border-left: 1px solid whitesmoke;
    left: 10%;
    mix-blend-mode: difference;
    align-items: flex-start;

    & #{$this}__link {
      display: flex;
      font-size: 0.8em;
      color: whitesmoke;
      justify-content: flex-start;
      align-items: center;
      margin: 8px 0;
    }

    & #{$this}__link-label {
      overflow: hidden;
      font-weight: bold;
      margin-left: 4px;
    }

    & #{$this}__link-indicator {
      width: 5px;
      height: 1px;
      background-color: whitesmoke;
      margin-right: 4px;
    }

    & #{$this}__link-number {
      width: fit-content;
      opacity: 0.4;
    }
  }
}
