@use "variables" as v;
@use "mixins" as mx;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: v.$nav-max-height;
  position: fixed;
  top: 0;
  background-color: v.$color-secondary;
  z-index: 100;
  border-bottom: solid v.$color-tertiary 1px;

  &__logo {
    width: 64px;
    height: 64px;
    margin: 0 4px;

    @include mx.screen-m {
      width: 80%;
      height: 80%;
      margin: 0;
    }

    @include mx.screen-land {
      width: 42px;
      height: 42px;
    }
  }

  @include mx.screen-m {
    display: flex;
    width: 10%;
    height: 15%;
    justify-content: center;
  }

  @include mx.screen-land {
    max-height: 12%;
  }
}

.btn-toggle-nav {
  position: relative;
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin: 2px 4px;

  @include mx.screen-m {
    display: none;
  }

  @include mx.screen-land {
    width: 24px;
    height: 24px;
  }

  &__bar {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: v.$color-tertiary;

    &--top {
      top: 0;
      left: 0;
    }

    &--center {
      top: 50%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }

    &--bottom {
      top: 100%;
      right: 0;
    }
  }
}

.nav {
  $this: &;

  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: v.$font-rz-bold;
  z-index: 50;

  &__link {
    text-decoration: none;
    color: v.$color-secondary;
  }

  &__link-label {
    text-align: left;
  }

  &--small-width {
    width: 100%;
    left: 100%;
    font-size: v.$font-size-xl;
    background-color: v.$color-tertiary;

    @include mx.screen-m {
      display: none;
    }

    @include mx.screen-land {
      font-size: v.$font-size-l;
      padding-top: 28px;
      padding-left: 96px;
    }

    & #{$this}__link {
      width: 50%;
      padding: 24px;

      &:hover {
        color: v.$color-primary;
      }

      @include mx.screen-land {
        padding: 16px;
      }
    }
  }

  &--large-width {
    display: none;
    border-left: 1px solid whitesmoke;
    left: v.$nav-offset;
    mix-blend-mode: difference;
    align-items: flex-start;

    @include mx.screen-m {
      display: flex;
    }

    & #{$this}__link {
      display: flex;
      font-size: 0.8em;
      color: whitesmoke;
      justify-content: flex-start;
      align-items: center;
      margin: 8px 0;
    }

    & #{$this}__link-label {
      overflow: hidden;
      margin-left: 4px;
    }

    & #{$this}__link-indicator {
      width: 5px;
      height: 1px;
      background-color: whitesmoke;
      margin-right: 4px;
    }

    & #{$this}__link-number {
      width: fit-content;
      opacity: 0.2;
    }
  }
}
