@use "variables" as v;
@use "mixins" as mx;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: v.$color-secondary;
  // background: none;
  z-index: 100;
  border-bottom: solid v.$color-tertiary 1px;

  &__logo {
    width: 64px;
    height: 64px;
    margin: 0 4px;

    @include mx.screen-m {
      width: 80%;
      height: 80%;
      margin: 0;
    }
  }

  @include mx.screen-m {
    display: flex;
    width: 10%;
    height: 15%;
    justify-content: center;
  }
}

.btn-toggle-nav {
  position: relative;
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin: 2px 4px;

  @include mx.screen-m {
    display: none;
  }

  &__bar {
    position: absolute;
    width: 100%;
    height: 2px;
    mix-blend-mode: difference;
    background-color: v.$color-tertiary;

    &--top {
      top: 0;
      left: 0;
    }

    &--center {
      top: 50%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }

    &--bottom {
      top: 100%;
      right: 0;
    }
  }
}

.nav {
  $this: &;

  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 50;

  &__link {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  &__link-label {
    text-align: left;
  }

  &--small-width {
    width: 100%;
    background-color: v.$color-tertiary;

    @include mx.screen-m {
      display: none;
    }

    left: 100%;
    font-size: 3.5em;

    & #{$this}__link {
      width: 50%;
      padding: 24px;
    }
  }

  &--large-width {
    display: none;
    border-left: 1px solid whitesmoke;
    left: v.$nav-offset;
    mix-blend-mode: difference;
    align-items: flex-start;

    @include mx.screen-m {
      display: flex;
    }

    & #{$this}__link {
      display: flex;
      font-size: 0.8em;
      color: whitesmoke;
      justify-content: flex-start;
      align-items: center;
      margin: 8px 0;
    }

    & #{$this}__link-label {
      overflow: hidden;
      font-weight: bold;
      margin-left: 4px;
    }

    & #{$this}__link-indicator {
      width: 5px;
      height: 1px;
      background-color: whitesmoke;
      margin-right: 4px;
    }

    & #{$this}__link-number {
      width: fit-content;
      opacity: 0.2;
    }
  }
}
