@use "variables" as v;
@use "mixins" as mx;

.full-page__section--intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: v.$color-secondary;
}

.logo {
  width: 500px;
  height: 500px;
  //   border: solid 1px red;

  @include mx.screen-m {
    margin-left: v.$nav-offset;
  }
}

.text-greet {
  color: v.$color-tertiary;
  font-family: v.$font-overpass;
  font-size: 4rem;
  @include mx.screen-m {
    margin-left: v.$nav-offset;
  }
}
