@use "variables" as v;
@use "mixins" as mx;

.text-appear {
  &--text-connect {
    font-size: v.$font-size-l;
    font-family: v.$font-rz-bold;
    margin-left: 32px;
    max-width: 364px;
    margin-top: 64px;

    @include mx.screen-s {
      max-width: 496px;
      font-size: v.$font-size-xl;
    }

    @include mx.screen-m {
      max-width: 512px;
      font-size: v.$font-size-xl;
      margin-left: 126px;
    }

    @include mx.screen-l {
      max-width: 710px;
      font-size: v.$font-size-xxl;
    }
  }
}

.contact {
  height: 65%;
  display: flex;
  justify-content: space-between;
  margin-left: 32px;
  margin-top: 16px;

  //   @include mx.screen-s {
  //     font-size: v.$font-size-xl;
  //   }

  @include mx.screen-m {
    margin-left: 126px;
  }

  //   @include mx.screen-l {
  //     font-size: v.$font-size-xxl;
  //   }

  &__desc {
    position: relative;
    width: 45%;
    max-width: 442px;
    min-width: 332px;
    height: 100%;
    background-color: v.$color-secondary;
    color: v.$color-tertiary;
    padding: 16px;
    overflow: visible;
  }

  &__email-icon {
    position: absolute;
    width: 96px;
    top: 16px;
    left: 16px;
    // right: 56px;
    left: 8px;
    opacity: 0.1;
  }

  &__email {
    font-family: v.$font-rz-bold;
    font-size: v.$font-size-xl;
    color: v.$color-tertiary;
    transition: color 0.2s linear;

    &:hover {
      color: v.$color-primary;
    }
  }

  &__text {
    text-indent: 10%;
    margin-top: 16px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    width: 45%;
    height: 50%;
    // border: solid 1px red;
  }

  &__link {
    font-family: v.$font-rz-bold;
    font-size: v.$font-size-l;
    color: black;
    transition: color 0.2s linear;

    @include mx.screen-m {
    }

    @include mx.screen-l {
      font-size: v.$font-size-xl;
    }

    &:hover {
      color: v.$color-primary;
    }
  }

  &__link-icon {
    width: 42px;
  }
}
