@use "variables" as v;
@use "mixins" as mx;

.text-appear {
  &--text-projects {
    max-width: 796px;
    font-size: v.$font-size-l;
    margin-top: 16px;

    @include mx.screen-s {
      font-size: v.$font-size-xl;
    }

    @include mx.screen-m {
      font-size: v.$font-size-xxl;
    }
  }
}

.label-drag {
  position: absolute;
  left: 0;
  bottom: 16px;
  font-size: v.$font-size-xs;
  color: v.$color-primary;
  transform: rotate(-90deg);

  @include mx.screen-m {
    left: unset;
    bottom: unset;
    right: 0;
    top: 32px;
  }
}

.project {
  position: relative;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 16px;
  overflow: hidden;

  @include mx.screen-m {
    margin-top: 32px;
    align-items: center;
  }

  &__list-wrapper {
    position: absolute;
    right: 8px;
    bottom: 16px;
    width: 55%;
    height: 55%;
    min-height: 256px;
    overflow: hidden;
    z-index: 10;

    cursor: grab;

    &.grabbing {
      cursor: grabbing;
    }

    @include mx.screen-m {
      position: relative;
      width: 50%;
      height: 90%;
    }
  }

  &__list-item-pos {
    position: absolute;
    height: 2px;
    top: 20%;
    width: 25%;
    left: 0;
    background-color: v.$color-primary;
    z-index: 10;

    @include mx.screen-m {
      right: 0;
      left: unset;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: unset;
    right: 0;
    width: 100%;
    height: fit-content;
    // border: solid 1px blue;

    @include mx.screen-m {
      align-items: flex-start;
      left: 0;
      right: unset;
    }
  }

  &__title {
    width: fit-content;
    position: relative;
    font-family: v.$font-rz-bold;
    font-size: v.$font-size-m;
    padding: 8px 8px;
    text-align: right;
    z-index: 2;

    &.selected {
      color: v.$color-tertiary;
      background-color: v.$color-secondary;
    }

    @include mx.screen-m {
      width: fit-content;
      font-size: v.$font-size-l;
      text-align: left;
    }

    @include mx.screen-l {
      font-size: v.$font-size-xl;
    }
  }

  &__desc {
    position: relative;
    width: 50%;
    max-width: 396px;
    min-width: 296px;
    background-color: v.$color-primary;
    padding: 42px 16px 32px 16px;
    color: v.$color-tertiary;
    margin-left: 20px;
    margin-right: 4px;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      top: 3px;
      left: 3px;
      border: solid 4px v.$color-primary;
      z-index: -1;
    }

    @include mx.screen-m {
      width: 45%;
      min-height: 356px;
      margin-left: 0;
    }

    @include mx.screen-l {
      padding-top: 64px;
    }
  }

  &__name {
    position: absolute;
    font-family: v.$font-rz-bold;
    font-size: v.$font-size-m;
    color: black;
    white-space: nowrap;
    top: 8px;
    left: -20px;

    @include mx.screen-l {
      font-size: v.$font-size-l;
    }
  }

  &__about {
    color: v.$color-tertiary;
    margin-bottom: 24px;
    text-indent: 42px;

    @include mx.screen-m {
      margin-bottom: 42px;
    }
  }

  &__links,
  &__tools {
    width: 60%;
    padding: 8px 0;

    @include mx.screen-m {
      width: fit-content;
    }
  }

  &__links-list,
  &__tools-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 2px 0;
  }

  &__link {
    margin-right: 12px;

    @include mx.screen-m {
      margin-right: 16px;
    }

    a {
      // font-family: v.$font-rz-bold;
      color: v.$color-tertiary;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__tool {
    margin-right: 16px;
  }

  &__tools-label,
  &__links-label {
    font-size: v.$font-size-xs;
    color: v.$color-secondary;
  }
}
