@use "variables" as v;
@use "mixins" as mx;

.section--skills {
  position: relative;
  overflow: hidden;
}

.text-hover-prompt {
  position: fixed;
  width: fit-content;
  font-size: v.$font-size-l;
  font-family: v.$font-rz-bold;
  background-color: v.$color-primary;
  color: v.$color-tertiary;
  z-index: 10;

  @include mx.screen-s {
    font-size: v.$font-size-xl;
  }

  @include mx.screen-m {
    font-size: v.$font-size-xl;
  }

  @include mx.screen-l {
    font-size: v.$font-size-xxl;
  }
}

.text-appear {
  &--text-skills {
    font-size: v.$font-size-l;
    font-family: v.$font-rz-bold;
    margin-left: 32px;
    max-width: 364px;
    margin-top: 64px;
    z-index: 20;
    transition: opacity 0.4s ease-out, color 0.5s;

    &.transparent {
      opacity: 0.1;
    }

    &.hide {
      display: none;
    }

    @include mx.screen-s {
      max-width: 496px;
      font-size: v.$font-size-xl;
    }

    @include mx.screen-m {
      max-width: 512px;
      font-size: v.$font-size-xl;
      margin-left: 126px;
    }

    @include mx.screen-l {
      max-width: 710px;
      font-size: v.$font-size-xxl;
    }

    .skill-name {
      cursor: pointer;
      color: v.$color-primary;

      .text-piece {
        text-decoration: underline;
      }
    }
  }
}

.skills-wrapper {
  height: 100%;
  position: relative;

  &.preview {
    position: absolute;
    top: 32px;
    left: 126px;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    visibility: visible;
    mix-blend-mode: overlay;
    transform: scale(1.12);
    transition: opacity 0.5s ease-out;
  }

  @include mx.screen-m {
    margin-left: 76px;
  }
}

.back-btn {
  width: 42px;
  height: 42px;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.2s ease-out;

  &:hover {
    transform: scale(1.2);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 35%;
    border-left: solid 1px black;
    border-top: solid 1px black;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
    height: 35%;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
  }

  @include mx.screen-m {
    width: 56px;
    height: 56px;
    top: 32px;
    right: 16px;
  }
}

.skills {
  position: relative;
  width: 100%;
  height: 88%;
  overflow: hidden;
  cursor: grab;

  &.grabbing {
    cursor: grabbing;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    height: 100%;

    @include mx.screen-l {
      justify-content: space-between;
    }
  }

  &__skill-desc {
    position: relative;
    width: 55%;
    max-width: 496px;
    min-width: 396px;
    height: 400px;
    margin-top: 32px;
    margin-left: 8px;
    align-self: flex-start;

    @include mx.screen-m {
      height: 426px;
      margin-left: 0;
    }

    @include mx.screen-l {
      width: 50%;
      height: 500px;
    }
  }

  &__skill-title {
    position: absolute;
    left: 0;
    top: 16px;
    font-family: v.$font-rz-bold;
    font-size: v.$font-size-xl;

    @include mx.screen-l {
      font-size: v.$font-size-xxl;
    }
  }

  &__skill-texts {
    position: absolute;
    background-color: v.$color-primary;
    color: v.$color-tertiary;
    left: 10%;
    right: 16px;
    top: 0;
    bottom: 0;
    padding: 72px 4px 4px 4px;

    @include mx.screen-l {
      padding-top: 96px;
    }

    &::before {
      content: "";
      position: absolute;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      top: 3px;
      left: 3px;
      border: solid 4px v.$color-primary;
    }
  }

  &__skill-text {
    text-indent: 24px;
    &.hide {
      display: none;
    }
  }

  &__skill-index-container {
    display: none;
    position: absolute;
    width: 35%;
    left: 75%;
    bottom: 24px;
    font-family: v.$font-rz-bold;
    overflow: hidden;

    @include mx.screen-m {
      display: initial;
    }

    &::after {
      content: "";
      position: absolute;
      width: 80%;
      height: 2px;
      top: 0;
      bottom: 0;
      left: 0;
      margin-top: auto;
      margin-bottom: auto;
      background-color: v.$color-secondary;
    }
  }

  &__skill-index {
    width: 15%;
    float: right;
    text-align: end;
  }

  &__skill-tools {
    position: absolute;
    width: fit-content;
    max-width: 45%;
    top: 55%;
    right: 8px;
    margin-right: 4px;

    @include mx.screen-m {
      position: relative;
      align-self: flex-end;
      margin-right: 12px;
      top: unset;
      margin-bottom: 64px;
    }
  }

  &__skill-tools-label {
    text-align: end;
    font-size: v.$font-size-xs;
    color: v.$color-primary;
  }

  &__skill-tools-container {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    align-items: flex-end;
    font-family: v.$font-rz-bold;
    font-size: v.$font-size-s;

    @include mx.screen-m {
      margin-top: 8px;
      font-size: v.$font-size-m;
    }

    @include mx.screen-l {
      font-size: v.$font-size-l;
    }
  }

  &__skill-tool-item {
    text-align: end;
    text-transform: uppercase;
  }

  &__skill-icons {
    position: absolute;
    width: 90vh;
    height: 100%;
    max-width: 636px;
    top: 0;
    bottom: 0;
    right: -72px;
  }

  &__skill-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 90%;
    transform: rotate(-90deg);
    opacity: 0.8;

    @include mx.screen-m {
      width: 95%;
    }

    &--web {
      right: -32px;
    }

    &--android {
      right: -56px;
    }

    &--ml {
      right: -196px;
    }

    &--ethereum {
      width: 70%;
      transform: none;
      right: 0;
    }
  }
}

.skill-nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: right;
  margin-right: 8px;

  @include mx.screen-l {
    justify-content: space-evenly;
  }

  &__btn {
    position: relative;
    width: 36px;
    padding: 4px;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(1.2);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 35%;
      height: 35%;
      border-left: solid 1px black;
      border-top: solid 1px black;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 35%;
      height: 35%;
      border-right: solid 1px black;
      border-bottom: solid 1px black;
    }
  }

  &__bar {
    position: relative;
    width: 70%;
    height: 42px;

    @include mx.screen-m {
      width: 75%;
      height: 64px;
    }
  }

  &__track {
    position: absolute;
    height: 1px;
    background-color: v.$color-secondary;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &__track-checkpoints {
    position: absolute;
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    @include mx.screen-s {
      display: flex;
    }
  }

  &__track-checkpoint {
    font-size: 0.8em;
    background-color: v.$color-tertiary;
    cursor: pointer;

    &:hover {
      color: v.$color-primary;
    }
  }

  &__index {
    position: absolute;
    width: 42px;
    height: 100%;
    background-color: v.$color-tertiary;
    left: 0;
    z-index: 10;
    font-size: v.$font-size-s;
    padding: 0 24px;
    font-family: v.$font-rz-bold;
    overflow: hidden;

    @include mx.screen-m {
      width: 64px;
      padding: 0 32px;
      font-size: v.$font-size-m;
    }
  }

  &__index-current {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 4px;
  }

  &__index-divider {
    position: absolute;
    height: fit-content;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    top: 0;
    bottom: 0;
  }

  &__index-total {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 4px;
  }
}
