@use "variables" as v;
@use "mixins" as mx;

.full-page__section--skills {
  position: relative;

  @include mx.screen-m {
    padding-left: v.$nav-offset;
  }
}

.text-appear {
  &--text-skills {
    max-width: 796px;
    font-size: v.$font-size-m;
    margin-top: 8px;
    margin-left: 16px;
    // border: solid 1px red;
    transition: opacity 0.4s ease-out, color 0.5s;

    &.transparent {
      // color: rgba(245, 245, 245, 0.2);
      opacity: 0.05;
    }

    &.hide {
      display: none;
    }

    @include mx.screen-s {
      font-size: v.$font-size-m;
    }

    @include mx.screen-m {
      font-size: v.$font-size-xl;
      margin-left: 124px;
    }

    .skill-name {
      cursor: pointer;
      color: v.$color-primary;

      .text-piece {
        text-decoration: underline;
      }
    }
  }
}

.skill-preview {
  width: 450px;
  height: 430px;
  position: fixed;
  color: v.$color-tertiary;

  &.hide {
    display: none;
  }

  &__prompt {
    position: absolute;
    left: 0;
    top: 45%;
    font-size: v.$font-size-l;
    overflow: visible;
    white-space: nowrap;
    z-index: 12;
    background-color: v.$color-primary;
  }

  &__box {
    position: absolute;
    background-color: v.$color-secondary;
    top: 0;
    bottom: 0;
    right: 0;
    left: 96px;
    overflow: hidden;
  }

  &__title {
    font-size: v.$font-size-l;
    padding: 8px;
  }

  &__icon {
    position: absolute;
    transform: rotate(-90deg);
    height: 300px;
    opacity: 0.2;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;

    &--web {
      right: -45%;
    }

    &--android {
      right: -36%;
    }

    &--ml {
      right: -35%;
    }

    &--ethereum {
      right: -10%;
      transform: none;
    }
  }
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  flex-grow: 1;

  @include mx.screen-m {
    margin-left: 76px;
  }

  &__skill-description {
    min-width: 60%;
    position: relative;
    // width: 100%;
    // position: absolute;
    // top: 0;
    // left: 0;
    // bottom: 40%;
    // padding-left: 16px;
    // flex-grow: 1;
    overflow: hidden;
  }

  &__skill-names {
    min-height: 36px;
    font-size: v.$font-size-l;
    width: fit-content;
    position: relative;
    padding-left: 16px;
    // mix-blend-mode: difference;
    color: v.$color-primary;
    z-index: 10;

    @include mx.screen-s {
      min-height: 42px;
    }

    @include mx.screen-m {
      min-height: 48px;
    }
  }

  &__skill-texts {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 32px;
    // margin-top: 8px;
    // border-left: solid 2px v.$color-primary;
    overflow: hidden;
    background-color: v.$color-secondary;
  }

  &__skill-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 32px;
    padding-left: 8px;
    // padding-right: 4px;
    transform: translateX(100%);
    color: v.$color-tertiary;

    &--web {
      transform: translateX(0);
    }
  }

  &__tools {
    min-width: 40%;
    // clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
  }

  &__tools-label {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 8px;
    margin-right: 16px;
    font-size: v.$font-size-s;
    // color: v.$color-tertiary;
  }

  &__tools-containers {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  &__tools-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 32px;
    transform: translateX(100%);

    &--web {
      transform: translateX(0);
    }
  }

  &__tools-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 64px;
    height: 64%;
    // border: solid 1px red;

    @for $i from 0 through 3 {
      &:nth-child(#{$i + 1}) {
        transform: translateY(-$i * 12%);
      }
    }
  }

  &__tool-item {
    max-width: 36px;
    max-height: 36px;
    float: right;

    @include mx.screen-s {
      max-width: 42px;
      max-height: 42px;
    }

    @include mx.screen-m {
      max-width: 48px;
      max-height: 48px;
    }
  }

  &__nav-btn-container {
    width: fit-content;
    position: absolute;
    bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background: transparent;
  }

  &__nav-btn {
    position: relative;
    width: 28px;
    height: 28px;
    float: left;
    margin: 4px;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
      border: solid 0.5px v.$color-primary;
    }

    &.active::after {
      background-color: v.$color-primary;
    }
  }
}
