@use "variables" as v;
@use "mixins" as mx;

.section__content--about {
  position: relative;
  overflow: hidden;

  @include mx.screen-land {
    padding-top: 32px;
  }
}

.text-appear {
  &--text-about {
    max-width: 640px;
    font-size: v.$font-size-l;
    margin-top: 48px;

    @include mx.screen-s {
      font-size: v.$font-size-xl;
    }

    @include mx.screen-m {
      font-size: v.$font-size-xxl;
    }

    @include mx.screen-land {
      width: 50%;
      margin-top: unset;
      font-size: v.$font-size-l;
    }
  }
}

.red-text {
  color: v.$color-primary;
}

.text-about-para {
  max-width: 612px;
  font-weight: 400;
  margin-top: 24px;
  text-indent: 64px;

  @include mx.screen-land {
    max-width: 45%;
    position: absolute;
    right: 0;
    bottom: 64px;
    margin-top: unset;
  }
}

.low-poly-pic {
  display: none;
  position: absolute;
  width: 38%;
  max-width: 512px;
  top: 96px;
  right: 18px;
  // border: solid 1px black;
  background-color: transparent;
  transform: rotate(30deg);

  @include mx.screen-l {
    display: initial;
  }
}

.label-me {
  display: none;
  position: absolute;
  font-size: v.$font-size-xs;
  color: v.$color-primary;
  top: 84px;
  right: 32px;
  transform: rotate(-90deg);

  @include mx.screen-l {
    display: initial;
  }
}
