@use "variables" as v;
@use "mixins" as mx;

.section__content--intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: v.$color-secondary;
  padding-left: 0;
}

.section__title--intro {
  background-color: v.$color-secondary;
  color: v.$color-tertiary;
}

.logo {
  max-width: 500px;
  min-width: 300px;
  width: 80%;
  justify-self: flex-start;
}

.text-greet {
  color: v.$color-tertiary;
  font-size: v.$font-size-xl;

  @include mx.screen-s {
    font-size: v.$font-size-xxl;
    margin-bottom: 64px;
  }
}

.text-appear {
  &--text-greet-name {
    color: v.$color-primary;
    margin-left: 40%;
  }
}
