@use "variables" as v;
@use "mixins" as mx;

.full-page__section--about {
  position: relative;
  padding-left: 36px;
  overflow: hidden;

  @include mx.screen-m {
    padding-left: v.$nav-offset;
  }
}

.text-appear {
  &--text-about {
    max-width: 640px;
    font-size: v.$font-size-l;
    margin-top: 48px;

    @include mx.screen-s {
      font-size: v.$font-size-xl;
    }

    @include mx.screen-m {
      font-size: v.$font-size-xxl;
      margin-left: 96px;
    }
  }
}

.red-text {
  color: v.$color-primary;
}

.text-about-para {
  max-width: 612px;
  font-weight: 400;
  margin-top: 24px;

  @include mx.screen-m {
    margin-left: 96px;
  }
}

.low-poly-pic {
  display: none;
  position: absolute;
  width: 38%;
  max-width: 512px;
  top: 96px;
  right: 18px;
  // border: solid 1px black;
  background-color: transparent;
  transform: rotate(30deg);

  @include mx.screen-l {
    display: initial;
  }
}
