@use "variables" as v;

.text-appear {
  width: fit-content;
  position: relative;
  font-family: v.$font-rz-bold;

  &__text {
    width: fit-content;

    .text-piece-wrapper {
      display: inline-block;
      position: relative;
      height: fit-content;
      overflow: hidden;
    }

    .text-piece {
      display: inline-block;
      line-height: 1;
      padding-right: 0.25em;
    }
  }

  &__line-top {
    width: 10%;
    position: absolute;
    background-color: v.$color-primary;
    height: 1px;
    top: 0;
    right: 0;
  }

  &__line-bottom {
    width: 10%;
    position: absolute;
    background-color: v.$color-primary;
    height: 1px;
    bottom: 0;
    left: 0;
  }
}
