@use "variables" as v;

.text-appear {
  width: fit-content;
  position: relative;
  overflow: hidden;
  //   border: solid red 1px;

  &__text {
    width: fit-content;
  }

  &__line-top {
    width: 10%;
    position: absolute;
    background-color: v.$color-primary;
    height: 1px;
    top: 0;
    right: 0;
  }

  &__line-bottom {
    width: 10%;
    position: absolute;
    background-color: v.$color-primary;
    height: 1px;
    bottom: 0;
    left: 0;
  }
}
