$color-primary: #ff4655;
$color-secondary: #0f1923;
$color-tertiary: #e5e5e5;

$nav-offset: 10%;
$nav-max-height: 56px;

$width-xs: 375px;
$width-s: 576px;
$width-m: 768px;
$width-l: 1024px;

$font-rz-regular: "rz-regular", "Helvetica", "Arial", sans-serif;
$font-rz-bold: "rz-bold", "Impact", "Arial Black", sans-serif;

$font-size-xs: 0.8rem;
$font-size-s: 1.1rem;
$font-size-m: 1.5rem;
$font-size-l: 2.2rem;
$font-size-xl: 2.8rem;
$font-size-xxl: 3.6rem;
