@use "variables" as v;
@use "mixins" as mx;
@use "text-appear";
@use "nav";
@use "section";
@use "section-intro";
@use "section-about";
@use "section-skills";
@use "section-projects";
@use "cursor";
@use "section-connect";

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: v.$font-rz-regular;
  font-size: 14px;

  @include mx.screen-s {
    font-size: 16px;
  }

  @include mx.screen-land {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: v.$color-tertiary;
  opacity: 0.5;
}

::-webkit-scrollbar-thumb {
  background-color: v.$color-primary;
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}
